name: Arduino Library CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Compile examples
      uses: arduino/compile-sketches@v1
      with:
        fqbn: esp32:esp32:esp32